body {
    background-image: url("atim.png");
    background-size: 200px 200px; 
    background-position: 50% -8%;
    background-repeat: no-repeat;

    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 5vh;
}

.container {
    background: white; 
    position: fixed;
    top: 108; 
    left: 600; 
    max-width: 20%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px; 
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #2C2891;
}

#save-btn {
    background: #1C7947;
}

#clear-btn {
    background: #1F5151;
}

#save-el {
    font-weight: bold;
}

